td{
//border: 2px solid black;
    border-top: 2px solid #000000;
    border-left: 1px solid #000000;
    border-right: 2px solid #000000;
}
#tabla_hab{
    display: none;
}
th{
    background-color: #2c6ab7;
    color: white;
}
.celdas{
    border: 1px solid black;
    width: 55px;
    height: 20px;
    text-align: center;

}